HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS & Logs ###
.DS_Store
Thumbs.db
*.log
logs/

### Spring Boot Configs ###
**/src/main/resources/application.yml
**/src/main/resources/application.yaml
**/src/main/resources/application-*.yml
**/src/main/resources/application-*.yaml
**/src/main/resources/application.properties
**/src/main/resources/application-*.properties

# Giữ lại file mẫu để người khác clone về biết cấu hình
!**/src/main/resources/application.yml.example
!**/src/main/resources/application.yaml.example
!**/src/main/resources/application.properties.example